/*CSS styles*/
* {font size: 100%
}

body{
  background-color: DarkSlateGray;
  color: Orange;
  font-size: 900;
}

h1 {color: Green;
  font-family: Verdana,Geneva,sans-serif;
  text-shadow: 2px 2px 2px #888;
  font-size: 36px;.
  font-weight: bold;
  font-style: oblique;
  text-align: center;
}

h2 {color: LimeGreen;
  font-family: Verdana,Geneva,sans-serif;
  font size: 24px;
}

body {color: DarkOrange;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px
  text-align: left;
}

li{color: DarkOrchid;
  font-size: 18px;
}

p{line-height: 1.5
}

a:link,
a:focus,
a:active {
	color: Chartreuse;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

a:visited {
	color: Crimson;
	text-decoration: none;
}

footer p {font-size: 13px
}
